<div class="py-6 px-6 md:px-40 w-screen h-96">
  <div class="p-4 h-full w-full flex border-2 border-solid border-slate-400 justify-center">
    <div class="h-full">

      <div class="h-[200px] w-[200px] grid grid-cols-3 grid-rows-3 gap-1 place-items-center bg-slate-400">
        <app-space class="h-16 w-16"
         *ngFor="let space of spaces; index as i"
         [value]="space"
         [filled]="spaceFilled[i]"
         (click)="takeTurn(i)"
         (mouseenter)="enterAnimation(i)"
         (mouseleave)="exitAnimation(i)">
        </app-space>
      </div>

      <div class="h-10 p-2 text-lg font-medium flex justify-center">
        <h2 *ngIf="!winner">
          {{ xTurn ? 'X' : 'O'}} Turn
        </h2>
        <h2 *ngIf="winner == 'Draw'">
          Draw!
        </h2>
        <h2 *ngIf="winner == 'X' || winner =='O'">
          {{ winner }} Wins!
        </h2>
      </div>

      <div class="p-2 flex text-lg font-medium justify-center">
        <button class="p-2 rounded-lg border-2 border-solid border-slate-400 hover:bg-slate-400"
         (click)="newGame()">
          {{ winner ? 'Play Again' : 'New Game' }}
        </button>
      </div>

    </div>
  </div>
</div>

